@use '../../../../styles/variables.scss' as *;

.products-carousel {
  margin-top: 50px;

  padding: 0 20px;

  overflow: hidden;

  .slick-track {
    display: flex;
    gap: 15px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  min-height: 280px;

  background-color: $surface;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  border-radius: 8px;

  padding: 20px;

  transition: transform 0.3s ease;

  overflow: hidden;

  height: auto;

  &:hover {
    transform: scale(1.05);
  }
}

.product-image {
  flex-shrink: 0;

  width: 100%;
  max-height: 150px;

  object-fit: cover;

  border-radius: 8px;
}

.product-description {
  display: -webkit-box;
  flex-grow: 1;

  font-size: 0.9rem;
  color: $neutral-700;

  margin: 10px 0;

  -webkit-box-orient: vertical;

  overflow: hidden;

  text-overflow: ellipsis;
}

.btn {
  color: $neutral-100;

  background-color: $primary-main;

  border: none;
  border-radius: 4px;

  margin-top: auto;

  padding: 10px 20px;

  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-500;
  }
}

@media (max-width: 768px) {
  .product-card {
    padding: 15px;
  }

  .product-image {
    max-height: 200px;
  }

  .product-description {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .product-card {
    padding: 10px;
  }

  .product-image {
    max-height: 200px;
  }

  .product-description {
    font-size: 0.8rem;
  }
}
