@use '../../styles/variables.scss' as *;

.footer {
  position: relative;

  color: $neutral-900;

  background-color: $neutral-100;

  padding: 40px 20px;

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    max-width: 1200px;

    margin: 0 auto;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    padding-bottom: 20px;
  }

  .footer-section {
    flex: 1;

    min-width: 250px;

    h3 {
      font-size: 1.3rem;
      color: $primary-main;

      margin-bottom: 1.2rem;
    }

    ul {
      list-style: none;

      margin-top: 8px;

      padding: 0;

      li {
        display: flex;
        align-items: center;
        color: $neutral-900;

        margin-bottom: 10px;

        svg {
          margin-right: 10px;
        }

        a {
          display: flex;
          align-items: center;
          color: $neutral-800;
          text-decoration: none;

          transition: color 0.3s;

          &:hover {
            color: $primary-main;
          }
        }
      }
    }
  }

  .redes-sociais ul {
    display: flex;
    gap: 15px;

    li a {
      display: inline-block;

      font-size: 1.5rem;
    }
  }

  .logo-politica {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 150px;

      margin-bottom: 15px;
    }

    .secure-site {
      max-width: 200px;

      padding-top: 30px;
    }

    a {
      font-size: 0.9rem;
      color: $neutral-900;
      text-decoration: none;
    }
  }

  .arrow-up {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 30px;

    font-size: 14px;
    opacity: 0.7;

    background: transparent;

    border: none;

    transition: background-color 0.3s ease;

    cursor: pointer;

    .arrow-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.footer-copyright {
  font-size: 0.875rem;
  text-align: center;
  color: $neutral-700;

  border-top: 1px solid $neutral-500;

  margin-top: 2.5rem;

  padding-top: 1.5rem;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;

    padding: 20px;
  }

  .footer-section {
    text-align: center;

    min-width: 100%;

    ul {
      justify-items: center;
    }
  }

  .redes-sociais ul {
    justify-content: center;
    gap: 15px;
  }

  .logo-politica img {
    max-width: 120px;
  }

  .arrow-up {
    // bottom: 10px;
    right: 10px;
  }

  .footer-copyright {
    font-size: 0.75rem;

    padding-top: 1rem;
  }
}

@media (max-width: 480px) {
  .footer-content {
    gap: 15px;
  }

  .footer-section h3 {
    font-size: 1.1rem;
  }

  .redes-sociais ul li a {
    font-size: 1.2rem;
  }

  .logo-politica a {
    font-size: 0.8rem;
  }
}
